{% extends 'blog/base.html' %}

{% block content %}
    {% comment %} <h1>POST DETAILS</h1> {% endcomment %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}" title="Artikel Bewerken">
              {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        <h2>{{ post.title }}</h2>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
        <p>Smaak: {{ post.smaak }}/100</p>
        <output>
        <p>Malsheid: {{ post.malsheid }}/100</p>
        <output>
    </article>
{% endblock %}