{% extends 'blog/base.html' %}

{% block content %}
    {% comment %} <h1>POST EDIT</h1> {% endcomment %}
    <form method="POST" class="post-form">{% csrf_token %}
        <p>{{ form.author.label_tag}} {{ form.author }}</p>
        <p>{{ form.title.label_tag}} {{ form.title }}</p>
        <p>{{ form.text.label_tag}} {{ form.text }}</p>
        <p>{{ form.created_date.label_tag}} {{ form.created_date }}</p>
        <p>{{ form.published_date.label_tag}} {{ form.published_date }}</p>
        <p>{{ form.smaak.label_tag}} {{ form.smaak }}<output>{{ post.smaak }}<output></p>
        <p>{{ form.malsheid.label_tag}} {{ form.malsheid }}<output>{{ post.malsheid }}<output></p>
        <button type="submit" class="save btn btn-secondary">Opslaan</button>
    </form>
{% endblock %}



