* {
    color: inherit;
  }
  body {
    font-family: sans-serif;
    padding: 0;
    background: #222;
    color: #aaa;
  }
  h1 {
    font-size: 5rem;
  }
  article {
    background: #111;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    time {
      color: #777;
    }
  }